  {HARDWARE_SPECS}

  USE_DOCS={DOCs}
  DOCS_COLLECTION="{Collection}"

  USE_FILES=0
  FILES_PATH="{FilePath}"
  FILES_NAME="{FileName}"                         # Only one file allowed for now 

  USE_URLS={URLs}
  WEB_SEARCH="roman empire"
  WEB_SEARCH_URL="https://api.duckduckgo.com/?q={WebSearch}&format=json"
  WEB_FALLBACK_URL="https://en.wikipedia.org/wiki/Roman_Empire"

  PLATFORM="Ollama"
  OLLAMA_API_URL="http://localhost:11434/api/generate'"

  OLLAMA_MODEL_NAME="{Model}"                     # on ${PC_Code}

  OLLAMA_TEMPERATURE={Temp}
  OLLAMA_CTX_SIZE={CTX_Size}

  SESSION_ID="{TestId}"
  SESSION_TITLE="{Title} on {PC_Code}"            # Keep it short

  NEXT_POST="01"

  SYS_RUN_COUNT={Tests}
  USE_SYS_PROMPTS_FILE={USPF}
  SYS_PROMPTS_FILE="s13_system-prompts.txt"
  SYS_PROMPT_CD="GKN0-DOCP"
  SYS_PROMPT="s13-sys: Summarize the information and provide an answer. Use only the information in the following documents to answer the question:"

  USR_RUN_COUNT={Runs}
  USE_USR_PROMPTS_FILE={UUPF}
  USR_PROMPTS_FILE="s13_user-prompts.txt"
  USR_PROMPT_CD="DOC"
  USR_PROMPT="s13-usr: Summarize the key aspects of the iOS 17."

  TO_SCREEN_OR_FILE=3                             # 1)Screen, 2)File or 3)Both
  CSV_OR_TAB_STATS="tab"
  SHOW_SOURCES=0
  SHOW_SECTIONS="{Sections}"                      # None,RunId,Parms,Docs,Search,Stats,Results  
  WRAP_WIDTH=145

# MODEL = 'llama'                     // 4.7  GB on rm231
# MODEL = 'llama3.1'                  // 4.7  GB on rm231
# MODEL = 'gemma2:2b'                 // 1.6  GB on rm231
# MODEL = 'granite3-dense:2b'         // 1.6  GB on rm231
# MODEL = 'qwen2:0.5b'                //  .35 GB on rm231 //#.(50327.05.1 RAM Smallest. Runs if dbugging or no command args given )

# MODEL = 'llama3.1:8b-instruct-q8_0' // 8.5  GB on rm228
# MODEL = 'llama3.1:8b-instruct-q2_K' // 3.2  GB on rm228 // wierd results
# MODEL = 'llama3.1:latest'           // 4.9  GB on rm228
# MODEL = 'llama3.2'                  // 2.0  GB on rm228
# MODEL = 'starcoder2:3b'             // 1.7  GB on rm228 // no results
# MODEL = 'qwen2:7b'                  // 4.4  GB on rm228
# MODEL = 'qwen2:0.5b'                //  .35 GB on rm228
